variant: fcos
version: 1.1.0
passwd:
  users:
  - name: core
    ssh_authorized_keys:
      - "{{ config.installer_ssh_key }}"
storage:
  directories:
  - path: /srv/nexus
    group:
      id: 200
    user:
      id: 200
  - path: /srv/nexus/data
    group:
      id: 200
    user:
      id: 200
systemd:
  units:
    - name: install-open-vm-tools.service
      enabled: true
      contents: |
        [Unit]
        Description=Installs open-vm-tools
        After=network-online.target
        Wants=network-online.target

        [Service]
        Type=oneshot
        TimeoutStartSec=0
        ExecStart=/bin/bash -c "/bin/rpm-ostree install open-vm-tools"
        ExecStartPost=/usr/bin/systemctl enable nexus.service
        ExecStartPost=/bin/bash -c "/usr/bin/systemctl disable install-open-vm-tools.service && reboot"

        [Install]
        WantedBy=multi-user.target

    - name: nexus.service
      enabled: false
      contents: |
        [Unit]
        Description=nexus
        After=network-online.target
        Wants=network-online.target
        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/bin/podman kill nexus
        ExecStartPre=-/bin/podman rm nexus
        ExecStartPre=/bin/podman pull sonatype/nexus3:{{ nexus_vm.tag }}
        ExecStart=/bin/podman run \
          --privileged \
          --net=host \
          --name nexus \
          --restart always \
          --volume /srv/nexus/data:/nexus-data \
          sonatype/nexus3:{{ nexus_vm.tag }}
        [Install]
        WantedBy=multi-user.target
