{
	"ignition": {
		"config": {
			"replace": {
				"verification": {}
			}
		},
		"proxy": {},
		"security": {
			"tls": {}
		},
		"timeouts": {},
		"version": "3.1.0"
	},
	"passwd": {
		"users": [{
			"name": "core",
			"sshAuthorizedKeys": [
				"{{ config.installer_ssh_key }}"
			]
		}]
	},
	"storage": {
		"directories": [{
				"filesystem": "root",
				"group": {
					"id": 200
				},
				"path": "/srv/nexus",
				"user": {
					"id": 200
				}
			},
			{
				"filesystem": "root",
				"group": {
					"id": 200
				},
				"path": "/srv/nexus/data",
				"user": {
					"id": 200
				}
			}
		],
		"files": []
	},
	"systemd": {
		"units": [{
			"contents": "[Unit]\nDescription=nexus\nAfter=network-online.target\nWants=network-online.target\n[Service]\nTimeoutStartSec=0\nExecStartPre=-/bin/podman kill nexus\nExecStartPre=-/bin/podman rm nexus\nExecStartPre=/bin/podman pull sonatype/nexus3:{{ nexus_vm.tag }}\nExecStart=/bin/podman run \\\n  --privileged \\\n  --net=host \\\n  --name nexus \\\n  --restart always \\\n  --volume /srv/nexus/data:/nexus-data \\\n  sonatype/nexus3:{{ nexus_vm.tag }}\n[Install]\nWantedBy=multi-user.target\n",
			"enabled": true,
			"name": "nexus.service"
		}]
	}
}
